@import "tailwindcss";

@font-face {
  font-family: 'japonesa';
  src: url('/src/assets/fonts/Japanese_Brush/JAPAB___.TTF') format('truetype');
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: white;
}

.gradient-text {
  /* background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: white;
}

.nav-link {
  position: relative;
  color: white;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: rgb(230, 129, 129);
}

.nav-link-active {
  color: red
}

.Alexi {
  color: red;
  font-family: 'japonesa';
}

/* Asegurar que las partículas solo estén en la sección hero */
#hero {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#tsparticles {
  pointer-events: none !important;
}

/* Asegurar que el navbar esté sobre todo */
header {
  background-color: rgba(31, 41, 55, 0.5);
  backdrop-filter: blur(12px);
}

.home-header {
  font-family: 'japonesa';
}

.japonesa {
  font-family: 'japonesa';
}